html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= room + 'のディスプレイ'
    link(rel="preconnect", href="https://fonts.gstatic.com")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js')
    script(type="text/javascript" src="/public/javascripts/niconico.js")
    script(type="text/javascript" src="/public/javascripts/display.js")
  style.
    *{
      font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    }
    .rainbowtext{
      animation:rainbow 1.5s infinite;
    }
    @keyframes rainbow{
      0% { color: Magenta; }
      33% { color: yellow; }
      66% { color: Cyan; }
      100% { color: Magenta; }
    }

  body
    //- Javascriptでコメントスタンプを描画するので何もなし
